{% extends "header.html" %}
{% block title %}홈{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="bxslider">
        <div><a href=""><img src="img/coffee1.jpg" title="광고"></a></div>
        <div><a href=""></a><img src="imag/coffee2.jpg" title="사진"></a></div>
        <div><a href=""></a><img src="imag/coffee3.jpg" title="이벤트"></a></div>
    </div>
    <div>
        <h3>Best 상품 Top3</h3>
        <ul>
            <li><a href="javascript:bylatest();">최신순</a></li>
            <li><a href="javascript:bypopular();">인기순</a></li>
            <li><a href="sub12.html">더보기</a></li>
        </ul>
        <div>
            <img src="" class="div_img" title="">
            <div>
                <span class="div_name">인기상품 1</span>
                <span class="price_origin">25,000원</span>
                <span class="price_discount">20,000원</span>
                <span class="div_option">할인중</span>
            </div>
        </div>
    </div>
    <div>
        <h3>커뮤니티</h3>
        <ul>
        <li>1/3</li>
        <li><a href="javascript:before();"><</a></li>
        <li><a href="javascript:after();">></a></li>
        </ul>
        <ul>
        <li><a href=""><span>구분1</span><span>제목1</span></a></li>
        <li><a href=""><span>구분2</span><span>제목2</span></a></li>
        <li><a href=""><span>구분3</span><span>제목3</span></a></li>
        <li><a href=""><span>구분4</span><span>제목4</span></a></li>
        </ul>   
    </div>
    <div>
        <h3>내.동.자</h3>
        <ul>
        <li>1/3</li>
        <li><a href="javascript:before();"><</a></li>
        <li><a href="javascript:after();">></a></li>
        </ul>
        <ul>
        <li><a href=""><span>구분1</span><span>제목1</span></a></li>
        <li><a href=""><span>구분2</span><span>제목2</span></a></li>
        <li><a href=""><span>구분3</span><span>제목3</span></a></li>
        <li><a href=""><span>구분4</span><span>제목4</span></a></li>
        </ul>   
    </div>
    {% endblock %}