<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND|오시는길</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/sub13.css" rel="stylesheet">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=926f082d2c2f0d7497d2efa1d0a0f752"></script>
</head>
<body>
    <div class="wrap">
        <header class="header">
            <nav class="menu">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li class="login"><a href="login.html">로그인</a></li>
                    <li><a href="cart.html"><img src="./img/shopping-cart.png" title="장바구니" class="icon"></a></li>
                </ul>
            </nav>
            <h1 class="logo"><a href="main.html">다이아몬드</a></h1>
        <div>
            <nav class="navi">
            <ul>
                <li><a href="main.html" class="home">홈</a></li>
                <li><a href="sub11.html">DIAMOND</a>
                    <ul class="nav2">
                        <li><a href="sub11.html">팀소개</a></li>
                        <li><a href="sub12.html">제품소개</a></li>
                        <li><a href="sub13.html">CONTACT</a></li>
                    </ul>
                </li>
                <li><a href="sub21.html">생물방</a>
                    <ul class="nav2">
                        <li><a href="sub21.html">수다방</a></li>
                        <li><a href="sub22.html">내.동.자</a></li>
                        <li><a href="sub23.html">질문&답변</a></li>
                        <li><a href="sub24.html">자료실</a></li>
                    </ul>
                </li>
                
                <li><a href="sub31.html">고객센터</a>
                    <ul class="nav2">
                        <li><a href="sub31.html">공지사항</a></li>
                        <li><a href="sub32.html">사용후기</a></li>
                        <li><a href="sub33.html">질문답변</a></li>
                        <li><a href="sub34.html">자료실</a></li>
                        <li><a href="sub35.html">FAQ</a></li>
                        <li><a href="sub36.html" >이벤트/패키지</a></li>
                    </ul>
                </li>
                <li><a href="sub41.html">마이페이지</a>
                    <ul class="nav2">
                        <li><a href="sub41.html">사육장목록</a></li>
                        <li><a href="sub42.html">펫일지</a></li>
                        <li><a href="sub43.html">내프로필</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        </header>
        <div class="left_nav">
            <ul>
                <li><a href="sub11.html">DIAMOND</a>
                    <ul>
                        <li><a href="sub11.html">팀소개</a></li>
                        <li><a href="sub12.html">제품소개</a></li>
                        <li><a href="sub13.html">CONTACT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1 class="contnet_title">CONTACT</h1>
        <div>
            <h3><a href="https://gj-aischool.or.kr/">광주인공지능사관학교</a></h3>
            <span class="bold">ADDRESS</span><br>
            <span>광주 동구 제봉로 92 (대성학원 1~3층, 동구청 정류장 앞) (우)61465</span><br>
            <span>(post)61465, 1st~3rd floor, 92, Jebong-ro, Dong-gu, Gwangju, Republic of Korea</span><br>
            <span>월(Mon)~금(Fri) 09:00 ~ 18:00</span><br>
            <span>전화번호(Tel) : 070-4167-9913</span>

            <div id="map"></div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="sub11.html">DIAMOND</a></li>
            <li><a href="">제휴제안</a></li>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
            <li><a href="sub31.html">고객센터</a></li>
        </ul>
        <p>copyright &copy DIAMOND all rights reserved</p>
    </footer>
    </div>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
                center: new kakao.maps.LatLng(35.14660236044263, 126.92220581491345), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var imageSrc = './img/gjaischool.png', // 마커이미지의 주소입니다    
            imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(35.14660236044263, 126.92220581491345); // 마커가 표시될 위치입니다

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage // 마커이미지 설정 
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);  
        // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        var content = '<div class="customoverlay">' +
            '  <a href="https://map.kakao.com/?q=%EA%B4%91%EC%A3%BC%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EC%82%AC%EA%B4%80%ED%95%99%EA%B5%90" target="_blank">' +
            '    <span class="title">광주인공지능사관학교</span>' +
            '  </a>' +
            '</div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position = new kakao.maps.LatLng(35.14660236044263, 126.92220581491345);  

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            map: map,
            position: position,
            content: content,
            yAnchor: 1 
        }); 
    </script>
</body>
</html>