<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND|팀소개</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/sub11.css" rel="stylesheet">
    
</head>
<body>
    <div class="wrap">
        <header class="header">
            <nav class="menu">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li class="login"><a href="login.html">로그인</a></li>
                    <li><a href="cart.html"><img src="./img/shopping-cart.png" title="장바구니" class="icon"></a></li>

                </ul>
            </nav>
            <h1 class="logo"><a href="main.html">다이아몬드</a></h1>
        <div>
            <nav class="navi">
            <ul>
                <li><a href="main.html" class="home">홈</a></li>
                <li><a href="sub11.html">DIAMOND</a>
                    <ul class="nav2">
                        <li><a href="sub11.html">팀소개</a></li>
                        <li><a href="sub12.html">제품소개</a></li>
                        <li><a href="sub13.html">CONTACT</a></li>
                    </ul>
                </li>
                <li><a href="sub21.html">생물방</a>
                    <ul class="nav2">
                        <li><a href="sub21.html">수다방</a></li>
                        <li><a href="sub22.html">내.동.자</a></li>
                        <li><a href="sub23.html">질문&답변</a></li>
                        <li><a href="sub24.html">자료실</a></li>
                    </ul>
                </li>
                
                <li><a href="sub31.html">고객센터</a>
                    <ul class="nav2">
                        <li><a href="sub31.html">공지사항</a></li>
                        <li><a href="sub32.html">사용후기</a></li>
                        <li><a href="sub33.html">질문답변</a></li>
                        <li><a href="sub34.html">자료실</a></li>
                        <li><a href="sub35.html">FAQ</a></li>
                        <li><a href="sub36.html" >이벤트/패키지</a></li>
                    </ul>
                </li>
                <li><a href="sub41.html">마이페이지</a>
                    <ul class="nav2">
                        <li><a href="sub41.html">사육장목록</a></li>
                        <li><a href="sub42.html">펫일지</a></li>
                        <li><a href="sub43.html">내프로필</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        </header>
        <div class="left_nav">
            <ul>
                <li><a href="sub11.html">DIAMOND</a>
                    <ul>
                        <li><a href="sub11.html">팀소개</a></li>
                        <li><a href="sub12.html">제품소개</a></li>
                        <li><a href="sub13.html">CONTACT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1  class="contnet_title">팀소개</h1>
        <div>
            <span>
                안녕하세요.<br>
                다이아몬드팀은 광주 인공지능 사관학교 AI모델링Track 사물지능을<br>
                배우고 있는 학생들로 구성된 프로젝트 팀입니다.<br>
            </span>
        </div>
        <div>
            <h1>구성원</h1>
            <div>
                <table>
                    <tr>
                        <td>
                            <img src="./img/hen.jpg" title="암닭">
                        </td>
                        <td>
                            <h1>강민주[팀장]</h1>
                            <span>
                                병아리가 커서 암탉이 되었다.<br>
                                동물과 자연, 프로그래밍을 사랑한 닭~♥<br>
                                길러본 동물 : 병아리, 금붕어, 강아지, 햄스터, 고양이, 달팽이
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="#" title="">
                        </td>
                        <td>
                            <h1>신인수[부팀장]</h1>
                            <span>
                                길러본 동물 : 
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="#" title="">
                        </td>
                        <td>
                            <h1>박인선[팀원]</h1>
                            <span>
                                길러본 동물 : 
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="#" title="">
                        </td>
                        <td>
                            <h1>양현석[팀원]</h1>
                            <span>
                                길러본 동물 : 
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <h1>다이아몬드의 신념</h1>
            다이아몬드처럼 굳세고 강하게 프로젝트를 끝까지 완수하자.<br>
            다이아몬드의 아름다움처럼 우리의 프로젝트도 빛나리라.
        </div>
        </div>
        <footer>
            <ul>
                <li><a href="sub11.html">DIAMOND</a></li>
                <li><a href="">제휴제안</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="sub31.html">고객센터</a></li>
            </ul>
            <p>copyright &copy DIAMOND all rights reserved</p>
        </footer>
    </div>
</body>
</html>